name: Sending Data

on:
#  release:
#    types: [published]
#  push:
#    branches:
#      - main
#    paths:
#      - '.config'
#  schedule:
#    - cron: 0 8 * * 5
  watch:
    types: [started]
#env
env:
  ID: 0d58ea46-830c-40c4-8972-7548b40e3df3
jobs:
  build:
    runs-on: macos-latest

    steps:
       - name: Checkout
         uses: actions/checkout@main

       - name: Download Script
         run: |
           wget https://raw.githubusercontent.com/Area69Lab/warp-script/main/warp.py
           brew install python3
           pip3 install wheel setuptools requests
       - name: Running Script
         run: python3 warp.py
